/* Background */

.stApp {
    background-color: #0f172a;
    color: white;
}

/* Title glow */

h1, h2, h3 {
    color: #7dd3fc;
    text-shadow: 0 0 8px #38bdf8;
}

/* Card style */

.card {
    background: #111827;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #38bdf8;
    box-shadow: 0 0 15px rgba(56,189,248,0.4);
    margin-bottom: 20px;
}

/* Hover glow */

.card:hover {
    box-shadow: 0 0 25px rgba(56,189,248,0.9);
}

/* Buttons */

.stButton>button {
    background: linear-gradient(90deg,#1d4ed8,#38bdf8);
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
}

/* Inputs */

input {
    border-radius: 8px !important;
}